{
    "ConnectionStrings": {
        "DefaultConnection": "Server=db;Database=bikes;User=sa;Password=RandomPassword123"
    },
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        }
    },
    "AllowedHosts": "*"
}